<div class="container mt-4 d-flex justify-content-center">
  <div class="w-50">
  <h1 class="text-center">Créer un nouveau bookmark </h1>
    <%= simple_form_for [@list, @bookmark] do |f| %>
      <%= f.input :movie_id, collection: Movie.all, label_method: :title, value_method: :id, prompt: "Choisir un film" %>
      <%= f.input :comment, label: "Comment", placeholder: "Mets ton avis ici" %>
      <%= f.button :submit, "Enregistrer", class: "btn btn-add-movie" %>
    <% end %>
  </div>
</div>
